*{
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(218, 241, 250);
    background-image: linear-gradient(rgb(218, 241, 250) 30%,rgb(113, 156, 173) 80%);
}
.app{
    width: 500px;
    height: 300px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
ul{
    width: 400px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
}
li{
    height: 30px;
    display: flex;
    font-size: 1em;
    align-items: center;
    width: 100%;
    cursor: pointer;
    
    
}
ul li label{
    margin-left: 10px;
    cursor: pointer;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;
    height: 250px;
    
    
}
#question,#options{
    width: 100%;

}
.questiondiv{
    height: 30px;
}
#options{
    height: 170;
}
#start{
    text-align: center;
}
.btns{
    display: flex;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
}
.btn{
    color: white;
    background-color: rgb(104, 221, 104);
    height: 30px;
    padding: 0px 10px ;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: all .5s;
}
.btn:hover{
    background-color: rgb(78, 185, 78);
}
.answerops{
    cursor: pointer;
}
.quiz h1{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(96, 145, 164);
}
#start h6{
    font-size: 1em;
    margin-bottom: 10px;
}
#resultdiv{
    text-align: center;
}
#resultdiv p{
    margin-bottom: 10px;
}
#result{
    color:red;
    font-size: 1.2em;
}
